@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 3rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}
.container--flex {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  min-height: 100vh;
  margin-top: 10rem;
}

.heading {
  margin-bottom: 2rem;
  lineHeight: 1;
  width: 90%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}