@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  zoom:100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  z-index: 101;
}
.header--absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}
.container--flex {
  display: flex;
  flex-direction: column;
  padding: 7rem 2rem 2rem 2rem;
  align-items: center;
  min-height: 0vh;
  max-width: inherit;
  background-image: 
    linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(29, 210, 151, 0.5) 50%, rgba(255, 255, 255, 1) 100%);
}

.cardContainer {
  background-image: 
    radial-gradient(circle at center, rgba(29, 210, 151, 1) 0%, rgba(255, 255, 255, 1) 75%),
    linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(29, 210, 151, 0.5) 50%, rgba(255, 255, 255, 1) 100%);
}

.heading {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 550;
  letter-spacing: 0.01em;
  font-size: 32px;
}
.heading--two {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 550;
  font-family: 'Satoshi';
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem !important;
  padding: 2rem 2rem 2rem 2rem;
  background: white;
  box-shadow: 0px 8px 24px rgba(26, 170, 160, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.04);
  border-radius: 20px 20px 20px 20px;
  align-items: center;
  margin-bottom: 150px;
  width: 32%;
  position: relative;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-right: 8px;
  margin-bottom: 8px;
}

.col {
  display: flex;
  flex-direction: col;
}

.commitmentsLoadingStyle {
  background-color: rgba(0, 0, 0, .1);
  height: 380px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 40px;
  border-radius: 7px 0px 7px 0px;
  animation: shimmer 2s infinite linear;
}

.indexLoadingStyle {
  background-color: rgba(0, 0, 0, .1);
  height: 860px;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 20px 20px 20px 20px;
  animation: shimmer 2s infinite linear;
}

.styledBorder {
  margin: 0 auto;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-bottom: 30px;
}

.styledBorder--waiting {
  border: 4px solid #F3EEDD;
}

.styledBorder--success {
  border: 4px solid #DDF3DD;
}

.styledBorder--failure {
  border: 4px solid #F3DDE9;
}

.styledBorder--pending {
  border: 4px solid #DDEFF3;
}

.pictureArea {
  margin: 20px auto 20px auto
}

.pictureArea--pending {
  margin: 40px auto 40px auto
}

.pictureArea--waiting {
  margin: 20px auto 20px auto
}

.pictureArea--success {
  margin: 20px auto 20px auto
}

.pictureArea--failure {
  margin: 0px auto 0px auto;
  height: 2rem;
}

.pictureArea:hover {
}

.card__status{
    display: flex;
    width: 7.5rem;
    height: 33px;
    border-radius: 28px;
    align-items: center;
    justify-content: center;
}

.card__status__text{
    font-weight: 7vj00;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.card__status-waiting{
  background: #F3EEDD;
}

.card__status-waiting__text{
  color: #C1AF6E;
}

.card__status-success{
  background:#DDF3DD;
}
.card__status-success__text{
  color:#749774
}

.card__status-failure{
  background: #F3DDE9;
}
.card__status-failure__text{
  color: #937C88;
}

.card__status-pending{
  background: #DDEFF3;
}
.card__status-pending__text{
  color: #4CBCD4;
}

.card__button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    width: 81px;
    height: 44px;
    background: #1DD297;
    border-radius: 8px;
    color: white;
}

.upload__modal__box {
  border: 1px dashed rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  width: 518px;
  height: 148px;
  text-align: center;
  position: relative;
}

.upload__modal__heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000 !important;
}

.spacer {
  flex: 1;
}

.upload__modal__desc {
  margin-top: 3rem;
}

.upload__modal__icon {
  margin: 0 auto;
}

.upload__modal__box-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  bottom: 50%;
  color: rgba(0, 0, 0, 0.4);
}

.active {
  background-color: rgba(211, 211, 211, .8);
  font-weight: bold;
}

.continent_nav {
  list-style: none;
  padding-inline-start: 0px;
  gap: 6px;
}

.filterOption {
  position: relative;
  border: solid;
  border-width: 1.5px;
  border-color: rgba(211, 211, 211, .8);
  border-radius: 10px;
  padding: 8px 8px;
  font-size: smaller;
  flex: none;
}

.filterOption::after {
  cursor: pointer;
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  width: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
  {/* width: 1px; */}
}

.heartbeat {
	font-size: 12px;
	color: rgba(53, 72, 98, 1);
	animation: beat .25s infinite alternate;
	transform-origin: center;
  height: 0px;
  animation: fade 4s infinite;
}

.permanent-underline {
  position: relative;
  --underline-color: #1DD297; /* Default underline color */
}

.permanent-underline::after {
  content: "";
  position: absolute;
  bottom: -6px; /* Separation from the text */
  left: -1%;
  right: -1%; /* Changed value to keep the underline visible */
  height: 4px; /* Thickness of the underline */
  background-color: var(--underline-color); /* Use the CSS variable */
  border-radius: 3px;
}

.connect-button-underline {
  position: relative;
  --underline-color: #1DD297; /* Default underline color */
}

.connect-button-underline::after {
  content: "";
  position: absolute;
  bottom: 2px; /* Custom separation from the text for ConnectButton */
  left: -1%;
  right: -1%;
  height: 4px;
  background-color: var(--underline-color); /* Use the CSS variable */
  border-radius: 3px;
}

.underline-on-hover {
  position: relative;
  transition: all 0.15s ease-in-out;
}

.underline-on-hover::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Separation from the text */
  left: -1%;
  right: 101%;
  height: 4px; /* Thickness of the underline */
  background-color: #1DD297;
  border-radius: 3px;
  transition: right 0.15s ease-in-out;
}

.underline-on-hover:hover::after {
  right: -1%;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

/*
 * source: https://loading.io/css/
 * license: CC0 (Creative Commons)
 */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 60px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #1DD297;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes shimmer {
  from {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    text-align: center;
    padding: 1rem 3rem;
  }
  .heading {
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
  }
  .form {
    width: 42%;
  }
  .container--flex {
    padding: 4rem 2rem 0rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .continent_nav {
    justify-content: left;
    gap: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .header {
    justify-content: space-evenly;
    padding: 1rem 1rem;
  }
  .form {
    width: 80vw;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem !important;
    line-height: initial;
  }
  .heading {
    in-inline-size: max-content;
    font-size: 25px;
    wrap: nowrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .indexLoadingStyle {
    background-color: rgba(0, 0, 0, .1);
    height: 860px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 20px 20px 0px 0px;
    animation: shimmer 2s infinite linear;
  }
}

@media screen and (min-width: 640px) {
  .continent_nav {
    display: inline-flex;
    gap: 1rem;
    width: max-content;
  }
}
